<!-- {{yield}} -->

<form class="add-new--form" {{action 'handleSave' on="submit"}}>
 <label>
   Title:
   {{input class="input-title" type="text" value=title}}
 </label>
 <label>
   Date:
   {{input class="input-date" type="date" value=date}}
 </label>
 <label>
   Notes:
   {{input class="input-notes" type="text" value=notes}}
 </label>

  {{#if save}}
    {{input class="input-submit" type="submit" value="save"}}
  {{else}}
    {{#link-to 'reminders.reminder' reminder}}
      {{input class="input-submit" type="submit" value="save"}}
    {{/link-to}}
  {{/if}}

</form>
