<form class="add-new--form" {{action 'handleSave' model on="submit"}}>
 <label>
   Title:
   {{input class="input-title" type="text" value=model.title}}
 </label>
 <label>
   Date:
   {{input class="input-date" type="date" value=model.date}}
 </label>
 <label>
   Notes:
   {{input class="input-notes" type="textarea" value=model.notes}}
 </label>

  {{input class="input-submit" type="submit" value="save"}}

</form>

{{#if edit}}
  <button class="input-revert {{if reminder.hasDirtyAttributes "enabled"}}" {{action 'rollback' model}}>Revert</button>
{{/if}}
