<!-- {{yield}} -->

<form class="add-new--form" {{action 'handleSave' reminder on="submit"}}>
 <label>
   Title:
   {{input class="input-title" type="text" value=title}}
 </label>
 <label>
   Date:
   {{bootstrap-datepicker class="input-date" value=date}}
 </label>
 <label>
   Notes:
   {{input class="input-notes" type="text" value=notes}}
 </label>

  {{input class="input-submit" type="submit" value="save"}}

</form>
