<!-- {{yield}} -->
<h1>New Reminder</h1>

<form class="add-new--form" {{action 'addNew' on="submit"}}>
 <label>
   Title:
   {{input class="input-title" type="text"}}
 </label>
 <label>
   Date:
   {{input class="input-date" type="date"}}
 </label>
 <label>
   Notes:
   {{input class="input-notes" type="text"}}
 </label>
</form>
