{{#with model as |reminder|}}

  <h2 class="reminder-title">{{reminder.title}}</h2>
  <h5 class="reminder-date">{{reminder.date}}</h5>
  <p class="reminder-notes">{{reminder.notes}}</p>

  {{#link-to 'reminders.edit' reminder}}
    <button class="reminder-edit">Edit</button>
  {{/link-to}}
  <button class="reminder-delete" {{action 'deleteReminder' reminder}} >Delete</button>
{{/with}}

{{outlet}}
